<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayList.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @* <nav class="logo">
            <a href="/" style="padding-right:132px;">members</a>
            <a href="/info" style="padding-right:142px;">cars</a>
            <img src="clika.png" alt="hola"/>
            <a href="/" style="padding-right:132px;padding-left:142px;">news</a>
            <a href="/info">brand products</a>/
        </nav> *@
        <section>
            <div class="header_container">
                <div class="share">
                    <div class="first_col_h">
                        @*240 18.75%*@
                        <a href="/" class="header_link">members</a>
                    </div>
                    <div class="second_col_h">
                        @*200 15.625%*@
                        <a href="/" class="header_link">cars</a>
                    </div>
                    <div class="thirst_col_h">
                        @*400 31.25%*@
                        <img src="clika.png" alt="hola" />
                    </div>
                    <div class="fourth_col_h">
                        @*200 15.625*@
                        <a href="/" class="header_link1">news</a>
                    </div>
                    <div class="fifth_col_h">
                        @*240 18.75%*@
                        <a href="/" class="header_link1">brand products</a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        @RenderBody()
        

    </main>
    <footer>
        <section>
            <div class="footer_container">
                <div class="share">
                    <div class="first_col">
                        <a href="/" class="link">О тусовке</a>
                        <div><a href="/" class="link_bot">Locations</a></div>
                        <a href="/" class="link_bot">Ideas</a>
                        <a href="/" class="link_bot">Rules</a>
                    </div>
                    <div class="second_col">
                        <a href="/" class="link">Связь</a>
                        <a href="https://www.instagram.com/bl3ss3d_k1d/" class="link_bot"> <img class="img_social" src="~/inst.png" alt="inst"></img>Blessed_clique</a>
                        <a href="https://www.youtube.com/channel/UCBCYyBe8YyrhXryrx9SSGTw" class="link_bot"><img class="img_social" src="~/yt.png  " alt="yt"></img>Blessed_clique</a>
                        <a href="https://t.me/bless3dclique" class="link_bot"><img class="img_social" src="~/tg.png" alt="tg"></img>Blessed_clique</a>
                    </div>
                    <div class="thirst_col">
                        <a href="/" class="link">Всякое</a>
                        <a href="/" class="link_bot">Rachat</a>
                    </div>
                    <div class="fourth_col">
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
