@{
    ViewData["Title"] = "blessed clique";
}

<section>
    <div class="main_container">
        <div class="description">Last projects:</div>
        <div class="share_main">
            <div class="main_col1">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>
                    <div class="text_card">...</div>
                </div>
            </div>
            <div class="main_col2">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>
                    <div class="text_card">...</div>
                </div>
            </div>
            <div class="main_col3">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>
                    <div class="text_card">...</div>
                </div>
            </div>
            <div class="main_col4">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>
                    <div class="text_card">...</div>
                </div>
            </div>
        </div>
    </div>
</section>