@{
    ViewData["Title"] = "our Projects";
}

<section>
    <div class="main_container">
        <div class="description">Last projects:</div>
        <div class="share_main_proj">
            <div class="main_col1">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;margin-top:16px;margin-bottom:18px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>

                </div>
            </div>
            <div class="main_col2">
                <div class="card_project">
                    <img src="~/patrol.png" alt="///" style="max-width: 255px;max-height:134px;margin-top:34px;margin-bottom:28px;margin-left:10px;margin-right:10px;">
                    <div class="line_card"></div>
                    <div class="h_card">Nissan Patrol Y61 2.8 MT 2002</div>
                    <div class="text_card">Specs list:</div>
                    <div class="text_card">
                        Объем 2.8 л
                    </div>
                    <div class="text_card">
                        Мощность 129 л.с.
                    </div>
                    <div class="text_card">
                        Коробка Механика
                    </div>
                    <div class="text_card">
                        Тип двигателя дизельный
                    </div>
                    <div class="text_card">
                        Топливо ДТ
                    </div>
                    <div class="text_card">
                        Привод полный
                    </div>
                    <div class="text_card">
                        Разгон 17.5 с
                    </div>
                    <div class="text_card">
                        Расход 12.0 л
                    </div>
                    <div class="text_card">
                        Длина 5010 мм
                    </div>
                    <div class="text_card">
                        Ширина 1930 мм
                    </div>
                    <div class="text_card">
                        Высота 1855 мм
                    </div>
                    <div class="text_card">...</div>
                </div>
            </div>
            <div class="main_col3">
                <div class="card_project">
                    <img src="granta.png" alt="///" style="max-width: 255px;max-height:160px;margin-top:16px;margin-bottom:18px;">
                    <div class="line_card"></div>
                    <div class="h_card">Lada granta 2014 1.6 MT</div>
                    <div class="text_card">Specs list:</div>
                    <p> </p>
                    <div class="text_card">Бампер передний - Xmug</div>
                    <div class="text_card">Бампер задний - Xmug</div>
                    <div class="text_card">Фары : bi-led lexus-style</div>
                    <div class="text_card">Фонари: liftback tuning</div>
                    <p> </p>
                    <div class="text_card">Установлено:</div>
                    <div class="text_card">Лип спойлер</div>
                    <div class="text_card">Губа Samurai</div>
                    <div class="text_card">пороги granta sport</div>
                    <div class="text_card">2 din Мультимедиа Juysun</div>
                    <div class="text_card">Чехлы синий ромб</div>

                </div>
            </div>
            <div class="main_col4">
                <div class="more_proj">
                    <a href="/"><img src="~/resycle.png" alt="???"></a>
                </div>
            </div>
        </div>



        <div class="description">Members list:</div>
        <div class="share_main_memb">
            <div class="main_col1_mem">
                <div class="mem_card">
                    <div class="nik_space">
                        <img class="mem_attr_l" src="~/it.png" alt="??"> <div class="nickname">blessed k1d</div> <img class="mem_attr_r" src="~/crown.png" alt="??">
                    </div>
                    <div class="photo_space">
                        <div class="circle">
                            <img src="~/ya_1.jpg" alt="ya" style="width:120px;height:120px;">
                        </div> <div class="circle">
                            <img src="~/gra_cir.png" alt="car" style="width:120px;height:120px;">
                        </div>
                    </div>
                    <div class="regalii">
                        CEO , VIP Member
                    </div>
                    <div class="text_mem">
                        Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля. Не секрет, что в большинстве случаев аккумулятор находится под капотом, в то время как усилитель располагается внутри автомобиля.Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля.
                    </div>
                </div>
            </div>
            <div class="main_col2_mem">
                <div class="mem_card">
                    <div class="nik_space">
                        <img class="mem_attr_l" src="~/it.png" alt="??"> <div class="nickname">blessed k1d</div> <img class="mem_attr_r" src="~/crown.png" alt="??">
                    </div>
                    <div class="photo_space">
                        <div class="circle">
                            <img src="~/ya_1.jpg" alt="ya" style="width:120px;height:120px;">
                        </div> <div class="circle">
                            <img src="~/gra_cir.png" alt="car" style="width:120px;height:120px;">
                        </div>
                    </div>
                    <div class="regalii">
                        CEO , VIP Member
                    </div>
                    <div class="text_mem">
                        Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля. Не секрет, что в большинстве случаев аккумулятор находится под капотом, в то время как усилитель располагается внутри автомобиля.Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля.
                    </div>
                </div>
            </div>
            <div class="main_col3_mem">
                <div class="mem_card">
                    <div class="nik_space">
                        <img class="mem_attr_l" src="~/it.png" alt="??"> <div class="nickname">blessed k1d</div> <img class="mem_attr_r" src="~/crown.png" alt="??">
                    </div>
                    <div class="photo_space">
                        <div class="circle">
                            <img src="~/ya_1.jpg" alt="ya" style="width:120px;height:120px;">
                        </div> <div class="circle">
                            <img src="~/gra_cir.png" alt="car" style="width:120px;height:120px;">
                        </div>
                    </div>
                    <div class="regalii">
                        CEO , VIP Member
                    </div>
                    <div class="text_mem">
                        Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля. Не секрет, что в большинстве случаев аккумулятор находится под капотом, в то время как усилитель располагается внутри автомобиля.Разберем классическую схему подключения. В таком случае проводку напрямую цепляют к аккумулятору автомобиля.
                    </div>
                </div>
            </div>
            <div class="main_col4_mem">
                <div class="more_proj">
                    <a href="/"><img src="~/moremem.png" alt="???" style="max-height:250px;max-width:200px;"></a>
                </div>
            </div>
        </div>
</section>