* {
    margin: 0;
    padding: 0;
}
body {
    background: gold;
    font-family: 'Caladea',sans-serif;
    font-size: 125%;
    top: 0px;
    
}
footer {
    background: black;
    font-family: 'Gabriola',sans-serif;
    font-size: 155%;
    color:green;
    border-style:groove;
    border-color:aqua;
    border-width:3px;
    bottom:0px;
    right:0px;
    left:0px;
}
header {
    background: black;
    font-family: 'Gabriola',sans-serif;
    font-size: 155%;
    color: green;
    border-style: groove;
    border-color: aqua;
    border-width: 3px;
    top: 0px;
    right: 0px;
    left: 0px;
}